{% set code %}
{% highlight "js" %}
let isSiteAwesome = false

function contactMatt(message) {
  return alert(message)
}

if (!isSiteAwesome) {
  return contactMatt("Let's work together!")
}
{% endhighlight %}
{% endset %}

 <section class="container grid-cols-1 grid gap-8 pt-12 sm:pt-24 items-center md:gap-16 lg:grid-cols-2 lg:pt-32 xl:gap-24">
  {# Code Snippet #}
  <div class="bg-gray-900 p-4 text-white rounded-lg shadow-lg text-sm sm:text-base">
    <div class="space-x-2 flex items-center">
      <div class="rounded-full w-3 h-3 bg-red-500"></div>
      <div class="rounded-full w-3 h-3 bg-yellow-500"></div>
      <div class="rounded-full w-3 h-3 bg-green-500"></div>
    </div>
    {{ code | safe }}
  </div>
  {# Contact Content #}
  <div class="text-center lg:text-left">
    <h3 class="relative inline text-2xl font-extrabold leading-tight lg:text-3xl">
      Do you want to build a website?
      <span class="w-6 h-6 absolute lg:hidden animate-bounce" style="top: -16px; left: -32px;">
        {% include 'icons/music.svg' %}
      </span>
      <span class="w-8 h-8 absolute hidden lg:block animate-bounce" style="top: -32px; left: -32px;">
        {% include 'icons/music.svg' %}
      </span>
    </h3>
    <p class="mt-2 sm:mt-4 text-sm sm:text-base lg:text-lg">
      Don't get <strong class="font-bold italic">Frozen</strong> with a site you don't love. I can refactor, refresh, or even straight-up build you a new website or web application that will knock your socks off.
    </p>
    <a
      class="inline-flex items-center mt-6 text-indigo-500 rounded font-bold "
      href="/contact/"
    >
      Contact
      <span class="w-4 h-4 ml-1">
        {% include 'icons/arrow.svg' %}
      </span>
    </a>
  </div>
</section>
