{# Hero #}

{% macro hero(
  top = null,
  heading = 'Default Heading',
  paragraph = 'Default subheading'
)%}
  <section class="bg-indigo-500 py-8 md:py-12 text-white text-center shadow-lg">
    <div class="container px-8 md:px-16">
      {{ top | safe }}
      <h1 class="{{ css.h1 }}">{{ heading | safe }}</h1>
      <p class="mt-4 md:text-lg max-w-lg mx-auto">
        {{ paragraph }}
      </p>
    </div>
  </section>
{% endmacro %}
