<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matt Waler | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <script defer src="/assets/main.bundle.js"></script>
    {% include 'favicons.njk' %}
  </head>
  <body class="{{ 'debug-screens' if env.dev }}">
    {% include 'header.njk' %}
    <main>
      {% block body %}
        {{ content | safe }}
      {% endblock %}
    </main>
    {% include 'footer.njk' %}
  </body>
</html>
