{% extends 'page.njk' %}
{% from 'hero.njk' import hero  %}

{% block body %}

  {{ hero(
    image = image,
    eyebrow = date | prettyDate,
    heading = title,
    paragraph = description
  ) }}

  {# Image for RSS Feed #}
  <img class="hidden" src="{{ image or '/assets/post.jpg' }}" alt="RSS feed image">

  {# Content #}
  <section class="container max-w-screen-md markdown mt-16">
    {{ content | safe }}
  </section>

{% endblock body %}
