<footer
  class="{{ css.container }} py-8 text-sm flex flex-wrap justify-center items-center"
  :class="darkMode ? 'text-gray-600' : 'text-gray-700'"
>
  <span
    x-data="{ year: new Date().getFullYear() }"
    x-text="`Waler Media LLC | © ${year} `"
  ></span>
  <div class="w-full flex items-center justify-center space-x-3 mt-6 md:w-auto md:mt-0 md:ml-8">
    {% for item in social  %}
      <a
        href="{{ item.link }}"
        target="_blank"
        class="w-6 h-6"
        :class="darkMode ? 'hover:text-gray-300' : 'hover:text-gray-900'"
      >
        {% include 'icons/' + item.icon + '.svg' %}
      </a>
    {% endfor  %}
  </div>
</footer>
