<footer
  x-data="{ year: new Date().getFullYear() }"
  class="p-24 container text-center text-14 text-gray-700 flex items-center 768:justify-center justify-between"
>
  <span x-text="`© ${year} | Waler Media LLC`"></span>
  <div class="flex items-center ml-32">
    {% for item in social  %}
      <a target="_blank" class="w-24 h-24 ml-16 hover:text-gray-900" href="{{ item.link }}">
        {% include 'icons/' + item.icon + '.svg' %}
      </a>
    {% endfor  %}
  </div>
</footer>
