<template x-if="submittedForm">
  <div class="p-24 bg-green-500 text-white font-700">
    <div class="container flex justify-center items-center">
      <p>
        Thanks for reaching out! I will respond to your message as soon as possible.
      </p>
      <button @click="submittedForm = false" class="w-24 flex-shrink-0 ml-24">
        {% include 'icons/close.svg' %}
      </button>
    </div>
  </div>
</template>

<div class="h-12 bg-indigo-500"></div>

<div class="text-center p-24 font-900 tracking-wide">
  #blacklivesmatter
</div>

<header>
  <div class="container px-24 pt-48 flex justify-between items-center">

    {# Logo #}
    <div class="flex items-center">
      <span class="w-64">
        {% include 'icons/whale-logo.svg' %}
      </span>
      <div class="ml-12 leading-none">
        <span class="block font-900 text-20">Matt Waler</span>
        <span
          class="text-14 block"
          :class="darkMode ? 'text-gray-400' : 'text-gray-600'"
        >
          Web Developer
        </span>
      </div>
    </div>

    <button
      class="w-48 h-48 p-4"
      @click="
        darkMode
          ? localStorage.setItem(`colorScheme`, `light`)
          : localStorage.setItem(`colorScheme`, `dark`)
        darkMode = !darkMode;
      ">
      <span x-show="darkMode">
        {% include 'icons/light-mode.svg' %}
      </span>
      <span x-show="!darkMode">
        {% include 'icons/dark-mode.svg' %}
      </span>
    </button>

  </header>
