<header>
  <div aria-hidden class="h-4 bg-indigo-500"></div>
  <div class="{{ css.container }} pt-16 flex justify-between items-center">
    <a href="/" class="flex items-center">
      <span class="w-12">
        {% include 'icons/whale-logo.svg' %}
      </span>
      <div class="ml-4 leading-none">
        <span class="block font-black text-lg">Matt Waler</span>
        <span
          class="text-sm block"
          :class="darkMode ? 'text-gray-400' : 'text-gray-600'"
        >
          Fullstack Developer
        </span>
      </div>
    </a>
    <button
      class="w-12 h-12 p-2"
      @click="
        darkMode
          ? localStorage.setItem(`colorScheme`, `light`)
          : localStorage.setItem(`colorScheme`, `dark`)
        darkMode = !darkMode;
      ">
      <span x-show="darkMode">
        {% include 'icons/light-mode.svg' %}
      </span>
      <span x-show="!darkMode">
        {% include 'icons/dark-mode.svg' %}
      </span>
    </button>
  </header>
