<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Matt Waler | {{ title }}</title>
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">
    <script defer src="/assets/main.bundle.js"></script>
    {% include 'components/favicons.njk' %}
  </head>

  <script>
    function darkMode() {
      const scheme = localStorage.getItem('colorScheme')
      if (scheme === 'dark' ) {
        return { darkMode: true }
      }
      if (scheme === 'light') {
        return { darkMode: false }
      }
      return { darkMode: window.matchMedia('(prefers-color-scheme: dark)').matches }
    }

    function submittedForm() {
      if (window.location.search.includes(`?contact`)) {
        alert('Thank you for reaching out! I will reach out shortly.')
        return { submittedForm: true }
      }
      return { submittedForm: false }
    }
  </script>

  <body
    x-data="{...darkMode(), ...submittedForm()}"
    x-show="darkMode !== null"
    class="font-inter antialiased flex flex-col min-h-screen"
    :class="darkMode ? 'bg-gray-900 text-white' : 'text-gray-900'"
  >
    {% include 'components/header.njk' %}
    <main class="flex-grow relative">
      {% block body %}{% endblock %}
    </main>
    {% include 'components/footer.njk' %}
  </body>
</html>
