---
title: Index
---

{% extends 'page.njk' %}

{% block body %}
  <article class="container default-padding 768:text-center 768:py-64">
    <img class="w-256 mx-auto rounded-full shadow-lg" src="/images/me.jpg" alt="A handsome man called Matt Waler.">
    <h1 class="mt-24 h1">I help people build <wbr><span class="text-indigo-500">dope websites.</span></h1>
    <h2 class="mt-8 text-gray-700 mx-auto 768:text-20 768:max-w-640">
      I provide consulting, development, and deployment for modern web applications. I also love burritos.
    </h2>
    <nav class="mt-24 flex items-center 768:justify-center">
      <a class="mr-8 button-primary" href="/contact/">Contact</a>
      <a class="ml-8 button-secondary" href="/services/">Services</a>
    </nav>
  </article>
{% endblock %}
