---
title: Services
description: All of the freelance services I provide for my clients.
---

{% extends 'layouts/page.njk' %}

{% block body %}
  <article class="default-padding 768:py-64 768:text-center">
    <div class="container">
      <h1 class="h1">Alright, let's <span class="text-indigo-500">talk about services.</span></h1>
      <h2 class="mt-16 text-gray-700 mx-auto 768:max-w-640 768:text-20">
        Listed below you will find a comprehensive list of the skills and services that I provide for my clients.
      </h2>
    </div>
  </article>
  <article class="container default-padding grid items-center gap-64 grid-cols-1 768:grid-cols-2 768:py-64">
    {% for service in services  %}
      <div>
        <img class="w-100% h-256 object-cover" src="{{ service.image }}" alt="{{ service.title }} image.">
        <h2 class="h3 mt-24">{{ service.title }}</h2>
        <p class="mt-8">{{ service.body }}</p>
      </div>
    {% endfor  %}
  </article>
{% endblock %}
