---
title: About Me
description: Learn a little more about me, Matt Waler.
---

{% extends 'layouts/page.njk' %}

{% block body %}
  <article class="container default-padding 768:py-64 768:text-center">
    <h1 class="h1">Let's <span class="text-indigo-500">get to know me</span> a little better.</h1>
    <h2 class="mt-16 text-gray-700 mx-auto 768:max-w-640 768:text-20">
      I'm an Ohio University graduate from Broadview Heights, Ohio. I love development, lifting, and the occasional blockbuster. I like to think I'm decently funny, but my friends can assure you that I am not.
    </h2>
  </article>

  <article class="container default-padding 768:py-64">
    <h3 class="h2 768:text-center">I spend my spare time...</h3>
    <div class="mt-24 grid grid-cols-1 gap-32 640:grid-cols-2 640:gap-64">
      {% for hobby in hobbies  %}
        <div>
          <h4 class="mt-16 h3">{{ hobby.title }}</h4>
          <p class="mt-8">{{ hobby.body }}</p>
        </div>
      {% endfor  %}
    </div>
  </article>

{% endblock %}
