---
title: Contact
description: Get in touch with me and let's build something awesome together.
---

{% extends 'components/page.njk' %}

{% block body %}
  <article class="default-padding 768:py-64 768:text-center">
    <div class="container">
      <h1 class="h1">Let's build something awesome <span class="text-indigo-500">together.</span></h1>
      <h2 class="mt-16 text-gray-700 mx-auto 768:max-w-640 768:text-20">
        Fill out the form below, and I'll be in contact as soon as possible. Thank you so much for taking the time, you won't regret it!
      </h2>
    </div>
  </article>
  <form netlify name="contact"
    method="post"
    aria-label="contact form"
    action="/?contact"
    class="max-w-640 mx-auto default-padding 768:py-48">
    <label class="block">
      <span class="block">Name</span>
      <input name="name" class="mt-8 form-input w-100%" type="text" required>
    </label>
    <label class="block mt-24">
      <span class="block">Email</span>
      <input name="email" class="mt-8 form-input w-100%" type="email" required>
    </label>
    <label class="block mt-24">
      <span class="block">Message</span>
      <textarea class="mt-8 form-textarea w-100%"  name="message" rows="5" required></textarea>
    </label>
    <button type="submit" class="mt-16 button-primary">Submit</button>
  </form>

{% endblock %}
