<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ title }} | Matt Waler</title>
    <meta name="description" content="{{ description }}">
    {% include 'favicons.njk' %}
    <script defer src="/assets/main.bundle.js"></script>
    <link rel="stylesheet" href="/assets/main.bundle.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
    {% block head %}{% endblock %}
  </head>
  <body class="flex flex-col min-h-100vh">
    {% include 'header.njk' %}
    <div data-contact></div>
    <main class="flex-grow">
      {% block body %}{% endblock %}
    </main>
    {% include 'footer.njk' %}
    {% block scripts %}{% endblock %}
  </body>
</html>
