<div class="h-12 bg-indigo-500"></div>
<header x-data="{ navOpen: false }">
  <div class="container p-24 h-128 flex justify-between items-center">

    {# Logo #}
    <a href="/" class="flex items-center">
      <span class="w-64">
        {% include 'icons/whale-logo.svg' %}
      </span>
      <div class="ml-12 leading-none">
        <span class="block font-900 text-20">mattwaler</span>
        <span class="text-14 block text-gray-600">Fullstack Web Developer</span>
      </div>
    </a>

    {# Right Nav #}
    <nav class="flex items-center">
      {% for item in navigation %}
        <a
          class="cursor-pointer hidden ml-32 font-700 text-gray-600 hover:text-gray-900 768:block"
          data-scroll="{{ item.link }}">
          {{ item.text }}
        </a>
      {% endfor  %}
      <button @click="navOpen = !navOpen" class="w-24 focus:outline-none text-gray-600 hover:text-gray-900 768:hidden">
        <span x-show="!navOpen">{% include 'icons/menu.svg' %}</span>
        <span x-show="navOpen">{% include 'icons/close.svg' %}</span>
      </button>
    </nav>
  </div>

  {# Mobile Nav #}
  <nav class="container p-24 768:hidden" x-show.transition="navOpen">
    {% for item in navigation %}
      <a
        class="cursor-pointer block border-b-2 py-16 font-700 text-gray-600 {{ 'border-t-2' if loop.first }}"
        data-scroll="{{ item.link }}">
        {{ item.text }}
      </a>
    {% endfor  %}
  </nav>
  <nav>

  </nav>
</header>
