---
title: 'Whoops! You took a wrong turn.'
description: This is where you go when a page doesn't exist.
permalink: /404.html
---

{% extends 'page.njk' %}

{% block body %}
  <div class="{{ css.container }} py-16 text-center">
    <h1 class="{{ css.h1 }} mt-16">{{ title }}</h1>
    <p class="text-lg mt-2">Let's get you back where you belong.</p>
    <a class="{{ css.button }} inline-block mt-8" href="/">Go Home</a>
  </div>
{% endblock %}
