---
permalink: 'index.html'
title: Homepage
description:
  I am Matt Waler, a freelance fullstack developer providing fullstack consulting and development.
---

{% extends 'page.njk' %}

{% block body %}

  <section class="hero">
    <div class="container">
      <img
        alt="A picture of Matt Waler"
        class="bw w-48 border-4 border-white rounded-full mx-auto lg:w-64"
        src="/assets/headshot.jpg"
      >
      <h1 class="h1 max-w-screen-md mx-auto mt-6">I make websites with the latest and greatest tools.</h1>
      <p class="p mx-auto mt-6">My name is <strong>Matt Waler</strong> and I am a fullstack developer from Ohio. I live and breathe all things modern web development. I also love a good burrito.</p>
    </div>
  </section>

  <section class="container mt-8 md:mt-16">
    <div class="bg-white px-4 rounded-lg shadow-lg py-12 lg:flex items-center justify-center">
      <div class="max-w-screen-md text-center lg:text-left">
        <h3 class="{{ css.h2 }}">Looking for a web developer?</h3>
        <p class="mt-2">Let's get in touch and bring your dream website to life.</p>
      </div>
      <div class="flex-none mt-6 text-center lg:mt-0 lg:ml-24">
        <a class="{{ css.button }}" href="/contact/">
          Contact Me
        </a>
      </div>
    </div>
  </section>

{% endblock %}
