---
title: Web Developer
description: I am Matt Waler, a freelance fullstack developer providing fullstack consulting and development.
---

{% extends 'components/page.njk' %}

{% block body %}
  <article class="wrapper">
    <div class="container items-center 768:flex">
      <figure class="max-w-320 mx-auto">
        <img
          class="w-100% rounded-lg shadow-lg"
          src="/images/me.jpg"
          alt="Matt Waler's handsome face."
        >
      </figure>
      <div class="flex-1 pt-32 768:pt-0 768:pl-64">
        <h1 class="h1">The most easy-going web developer you'll ever meet.</h1>
        <h2 class="mt-16 text-gray-700 768:text-20">
          I develop, deploy, and teach all things modern web development. I also love a good burrito.
        </h2>
        <nav class="mt-32 flex items-center">
          <a class="cursor-pointer mr-8 button-primary" href="#contact">Contact</a>
          <a class="cursor-pointer ml-8 button-secondary" href="#services">Services</a>
        </nav>
      </div>
    </div>
    <div class="h-48 hidden 768:block"></div>
  </article>

  <article id="services" class="wrapper bg-gray-100 border-b-2 border-t-2">
    <div class="container">
      <h3 class="h2">What I do for a living.</h3>
      <p class="mt-16 max-w-480">Listed below you will find a comprehensive list of the skills and services that I provide for my clients.</p>
      <div class="mt-48 grid grid-cols-1 gap-32 640:gap-64 640:grid-cols-2 768:grid-cols-3">
        {% for service in services %}
          <div>
            <h4 class="font-900">{{ service.title }}</h4>
            <p class="mt-8 text-14">{{ service.body }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </article>

  <article id="projects" class="wrapper">
    <div class="container">
      <h3 class="h2">Stuff I'm working on.</h3>
      <p class="mt-16 max-w-480">A few pet projects that I spend my spare development time on. Check them out or view the source code on GitHub.</p>
      <div class="mt-64 grid gap-96 768:grid-cols-2">
        {% for project in projects %}
          <div>
            <img class="shadow-lg rounded-lg" src="{{ project.image }}" alt="{{ project.title }} website screenshot.">
            <h3 class="mt-32 h3">{{ project.title }}</h3>
            <p class="mt-16">{{ project.description }}</p>
            <a
              class="leading-none inline-block border-b-2 border-gray-900 font-700 block mt-16"
              target="_blank"
              href="{{ project.link }}">
              View Project
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </article>

  <div id="about" class="wrapper bg-gray-100 border-b-2 border-t-2">
    <article class="container">
      <div class="max-w-640">
        <h3 class="h2">A little bit about me.</h3>
        <p class="mt-16">I'm an Ohio University graduate from Broadview Heights, Ohio. I love development, lifting, and the occasional blockbuster. I like to think I'm decently funny, but my friends can assure you that I am not.</p>
        <p class="mt-16">Some of my favorite hobbies include:</p>
      </div>
      <div class="mt-48 grid grid-cols-1 gap-32 640:gap-64 640:grid-cols-2 768:grid-cols-3">
        {% for hobby in hobbies %}
          <div>
            <h4 class="mt-16 font-900">{{ hobby.title }}</h4>
            <p class="mt-8 text-14">{{ hobby.body }}</p>
          </div>
        {% endfor %}
      </div>
    </article>
  </div>

  <article id="contact" class="wrapper">
    <form
      x-data="{ submitted: false }"
      x-init="submitted = window.location.search.includes(`?contact`)"
      netlify
      name="contact"
      method="post"
      aria-label="contact form"
      action="/?contact"
      class="container">
      <div x-show="submitted" class="max-w-640">
        <h3 class="h2">Thank you for reaching out!</h3>
        <p class="mt-16">I will be in touch very shortly, my friend.</p>
      </div>
      <div x-show="!submitted" class="max-w-640">
        <h3 class="h2">Get in touch with me.</h3>
        <p class="mt-16">Fill out the form below, and I'll be in contact as soon as possible. Thank you so much for taking the time to check me out.</p>
      </div>
      <div x-show="!submitted" class="mt-48 grid grid-cols-2 gap-32">
        <label class="col-span-2 640:col-span-1">
          <span class="block">Name:</span>
          <input name="name" class="mt-8 form-input w-100%" type="text" required>
        </label>
        <label class="col-span-2 640:col-span-1">
          <span class="block">Email:</span>
          <input name="email" class="mt-8 form-input w-100%" type="email" required>
        </label>
        <label class="col-span-2">
          <span class="block">Message:</span>
          <textarea class="mt-8 form-textarea w-100%"  name="message" rows="7" required></textarea>
        </label>
        <div class="col-span-2">
          <button type="submit" class="button-primary">Submit</button>
        </div>
      </div>
    </form>
  </article>

{% endblock %}
