---
title:
  Web Developer
description:
  I am Matt Waler, a freelance fullstack developer providing fullstack consulting and development.
---

{% extends 'components/page.njk' %}

{% block body %}

  {# Hero #}
  <article class="{{ css.container }} py-16 flex flex-wrap-reverse items-center">
    <div class="w-full mt-16 md:mt-0 md:w-7/12">
      <h1 class="{{ css.h1 }}">The most easy-going web developer you'll ever meet.</h1>
      <h2
        class="mt-4 md:text-lg"
        :class="darkMode ? 'text-gray-400' : 'text-gray-700'">
        I design, develop, deploy, and teach all things modern web development. I also love playing Tennis and lifting weights.
      </h2>
      <nav class="mt-8 flex items-center">
        <a href="#contact" class="{{ css.button }}">Contact</a>
        <a href="#projects" class="{{ css.buttonAlt }} ml-4">Projects</a>
      </nav>
    </div>
    <figure class="w-full md:w-5/12 md:pl-16">
      <img
        class="w-1/2 object-cover mx-auto rounded-lg shadow-lg md:w-full"
        src="/images/headshot.jpg"
        alt="A selfie of yours truly.">
    </figure>
  </article>

  {# Services #}
  <article
    class="py-16 border-b-2 border-t-2"
    :class="darkMode ? 'bg-gray-900 border-gray-800' : 'bg-gray-100'">
    <div class="{{ css.container }}">
      <h3 class="{{ css.h2 }}">What I do for a living.</h3>
      <p class="mt-2 max-w-lg">Listed below you will find a comprehensive list of the skills and services that I provide for my clients.</p>
      <div class="mt-16 grid grid-cols-1 gap-16 sm:grid-cols-2 lg:grid-cols-3">
        {% for service in services %}
          <div>
            <h4 class="font-black">{{ service.title }}</h4>
            <p class="mt-2 text-sm">{{ service.body }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </article>

  {# Projects #}
  <article id="projects" class="{{ css.container }} py-16">
    <h3 class="{{ css.h2 }}">Stuff I'm working on.</h3>
    <p class="mt-2 max-w-lg">A few pet projects that I spend my spare development time on. Check them out or view the source code on GitHub.</p>
    <div class="mt-16 grid gap-16 md:grid-cols-2">
      {% for project in projects %}
        <a target="_blank" href="{{ project.link }}">
          <img
            class="shadow-lg rounded-lg"
            src="{{ project.image }}"
            alt="{{ project.title }} website screenshot.">
          <h3 class="{{ css.h3 }} mt-8">{{ project.title }}</h3>
          <p class="mt-2">{{ project.description }}</p>
        </a>
      {% endfor %}
    </div>
  </article>

  {# About Me #}
  <article
    class="border-b-2 border-t-2 py-16"
    :class="darkMode ? 'bg-gray-900 border-gray-800' : 'bg-gray-100'">
    <div class="{{ css.container }}">
      <h3 class="{{ css.h2 }}">A little bit about me.</h3>
      <p class="mt-2 max-w-lg">I'm an Ohio University graduate from Broadview Heights, Ohio. I love development, lifting, and the occasional blockbuster. I like to think I'm decently funny, but my friends can assure you that I am not.</p>
      <div class="mt-16 grid grid-cols-1 gap-16 sm:grid-cols-2 lg:grid-cols-3">
        {% for hobby in hobbies %}
          <div>
            <h4 class="font-black">{{ hobby.title }}</h4>
            <p class="mt-2 text-sm">{{ hobby.body }}</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </article>

  {# Contact Form #}
  <form
    netlify
    name="contact"
    method="post"
    aria-label="contact form"
    action="/?contact"
    id="contact"
    class="{{ css.container }} py-16">
    <div x-show="!submittedForm" class="max-w-lg">
      <h3 class="{{ css.h2 }}">Get in touch with me.</h3>
      <p class="mt-2">Fill out the form below, and I'll be in contact as soon as possible. Thank you so much for taking the time to check me out.</p>
    </div>
    <div x-show="submittedForm" class="max-w-lg">
      <h3 class="{{ css.h2 }}">Thank you for reaching out!</h3>
      <p class="mt-2">I will be in touch very shortly, my friend.</p>
    </div>
    <div x-show="!submittedForm" class="mt-16 grid grid-cols-2 gap-8">
      <label class="col-span-2 md:col-span-1">
        <span class="block">Name:</span>
        <input
          name="name"
          type="text"
          required
          class="mt-2 form-input w-full"
          :class="darkMode ? 'text-gray-900' : ''">
      </label>
      <label class="col-span-2 md:col-span-1">
        <span class="block">Email:</span>
        <input
          name="email"
          type="email"
          required
          class="mt-2 form-input w-full"
          :class="darkMode ? 'text-gray-900' : ''">
      </label>
      <label class="col-span-2">
        <span class="block">Message:</span>
        <textarea
          name="message"
          rows="7"
          required
          class="mt-2 form-textarea w-full"
          :class="darkMode ? 'text-gray-900' : ''"></textarea>
      </label>
      <div class="col-span-2">
        <button type="submit" class="{{ css.button }}">Submit</button>
      </div>
    </div>
  </form>

{% endblock %}
