---
title: Sites
heading: Websites I brought to life.
description: Below you will find a list of some of the sites I've helped design, build, and deploy to the internet. Give them a peep!
---

{% extends 'page.njk' %}
{% from 'hero.njk' import hero  %}

{% block body %}

  {{ hero(
    image = '/assets/sites.jpg',
    eyebrow = 'Check out all of these',
    heading = heading,
    paragraph = description
  ) }}

  <section class="container max-w-screen-lg mt-16">
    {% for site in collections.sites %}
      <article class="sm:flex items-center pt-12 mt-12 {{ 'border-t' if not loop.first }}">
        <div
          class="sm:w-1/3 h-64 bg-gray-400 bg-cover rounded-lg shadow-lg"
          style="background-image: url({{ site.data.image }})"
        ></div>
        <div class="mt-8 sm:ml-12 sm:mt-0 sm:w-2/3">
          <a target="_blank" href="{{ site.data.link }}">
            <h2 class="text-3xl font-extrabold leading-none">{{ site.data.title }}</h2>
            <p class="text-sm font-medium {{ site.data.color }} underline">{{ site.data.link }}</p>
          </a>
          <p class="text-base text-gray-700 mt-4">{{ site.data.description }}</p>
          <a
            target="_blank"
            href="{{ site.data.link }}"
            class="inline-flex items-center mt-6 {{ site.data.color }} font-bold"
          >
            <span class="leading-none">
              View Site
            </span>
            <span class="w-4 ml-1">
              {% include 'icons/arrow.svg' %}
            </span>
          </a>
        </div>
      </article>
    {% endfor %}
  </section>
{% endblock body %}
