/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'swiper/css/swiper.css';
@import './base.pcss';
/* purgecss end ignore */

/* Components */
@import './components.pcss';
@import 'tailwindcss/components';

/* Utilities */
@import 'tailwindcss/utilities';
@import './utilities.pcss';
